<app-header></app-header>

<section class="container-fluid web">

  <div class="top-categories__start">
    <div class="gallery">
      <a class="gallery-item rounded" href="path-to-large-image"
        data-sub-html="<h6 class='text-light'>Gallery image caption</h6>">
        <img
          src="https://res.cloudinary.com/do4rokki9/image/upload/v1644712221/InjoyPlan/32-20_sin_borde_-_fondo_celeste.png"
          alt="Gallery thumbnail">
      </a>
    </div>
  </div>
  <div class="top-categories__end">
    <div class="top-categories__grid">
      <a class="categorie" [routerLink]="['/search-eventos/musica']" style="cursor: pointer;">
        <article class="categorie" style="cursor: pointer;">
          <div class="categorie__icon-container">
            <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1617412460/InjoyPlan/musica.svg" alt="Icono"
              class="categorie__icon">
          </div>
          <div class="categorie__body">
            <h3 class="categorie__title">Musica</h3>
            <a class="categorie__link color-primary">
              {{Categoria_musica}} eventos
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </article>



      </a>
      <article class="categorie" [routerLink]="['/search-eventos/entretenimiento']" style="cursor: pointer;">
        <div class="categorie__icon-container">
          <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1617412460/InjoyPlan/entretenimiento.svg"
            alt="Icono" class="categorie__icon">
        </div>
        <div class="categorie__body">
          <h3 class="categorie__title">Entretenimiento</h3>
          <a class="categorie__link color-primary">
            {{Categoria_entretenimiento}} eventos
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </article>
      <article class="categorie" [routerLink]="['/search-eventos//Teatro']" style="cursor: pointer;">
        <div class="categorie__icon-container">
          <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1618111005/InjoyPlan/Teatro.svg" alt="Icono"
            class="categorie__icon">
        </div>
        <div class="categorie__body">
          <h3 class="categorie__title">Teatro</h3>
          <a class="categorie__link color-primary">
            {{Categoria_Teatro}} eventos
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </article>
      <article class="categorie" [routerLink]="['/search-eventos//Cultura']" style="cursor: pointer;">
        <div class="categorie__icon-container">
          <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1627261920/InjoyPlan/Vector.png" alt="Icono"
            class="categorie__icon">
        </div>
        <div class="categorie__body">
          <h3 class="categorie__title">Cultura</h3>
          <a class="categorie__link color-primary">
            {{Categoria_Cultura}} eventos
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
<ng-container *ngIf="lista_eventos_Destacados.length>0">
  <section class="container section">
    <h2 class="section__title">
      Eventos destacados
    </h2>
  </section>
  <section class="container section " style="display: flex;justify-content: flex-start;flex-wrap: wrap;">
    <app-card *ngFor="let evento of lista_eventos_Destacados; let indice = index"  [imagenS]="evento.evento[0].Imagenes[0].url" [evento]="evento"  [user_data]="this.user_data" [pantalla]="1"></app-card>
  </section>
</ng-container>


<section class="container section">
  <h2 class="section__title">
    Más eventos para ti
  </h2>
</section>
<section class="container section  cards-start ">
  <div class="item">
    <ngx-skeleton-loader *ngIf="isloading" count="4" appearance="circle" [theme]="{
          'margin':'10px',
          'width': '287px',
          'border-radius': '10px',
          'height': '392px'
      }"></ngx-skeleton-loader>
  </div>
  <app-card *ngFor="let evento of lista_eventos; let indice = index" [evento]="evento" [user_data]="this.user_data"
    [imagenS]="evento.evento[0].Imagenes[0].url"  [pantalla]="1">

  </app-card>
</section>
<section style="    display: flex;
align-content: stretch;
position: relative;
align-items: center;
flex-direction: column;
justify-content: space-between;">

  <ng-container *ngIf="isloading">
    <div class="spinner-grow text-primary" role="status" style="    margin: 3%;color: #861F21!important;">
      <span class="visually-hidden"
        style="margin-left: 38px;margin-top: 5px;    color: #861F21!important;">Cargando...</span>
    </div>

  </ng-container>
  <ng-container *ngIf="activoVerMasEventos">
    <div class="text-box" style="margin-top: 1%;margin-bottom: 64px;">
      <button class="btn btn-white btn-animate btnEvento" (click)="verMas(8,0)">
        VER MÁS EVENTOS
      </button>

    </div>
  </ng-container>



</section>
<app-footer></app-footer>