<footer class="cs-footer pt-sm-5 pt-4 bg-white" style="border-top: 1px solid #EDEFF5;">
  <div class="container pt-3">
    <div class="row pb-sm-2">
      <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
        <h3 class="mb-2 pb-1 footerTitulo">Conócenos</h3>
        <ul class="nav nav-dark flex-column">
          <li class="nav-item mb-2">
            <a [routerLink]="['/Acerca-nosostros'] " routerLinkActive="active"  class="nav-link mr-lg-0 mr-sm-4 p-0 footerSubTitulo">Acerca de Nosotros</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
        <h3 class="mb-2 pb-1 footerTitulo">¿Necesitas Ayuda?</h3>
        <ul class="nav nav-dark flex-column">
          <li class="nav-item mb-2">
            <a  [routerLink]="['/Preguntas-Frecuentes'] " routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 footerSubTitulo">Preguntas Frecuentes</a>
          </li>
        <!--   <li class="nav-item mb-2">
            <a [routerLink]="['/Contactanos'] " routerLinkActive="active"  class="nav-link mr-lg-0 mr-sm-4 p-0 footerSubTitulo">Contáctanos</a>
          </li>-->
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
        <h3 class="mb-2 pb-1 footerTitulo ">Políticas</h3>
        <ul class="nav  flex-column ">
          <li class="nav-item mb-2">
            <a href="#" [routerLink]="['/Politica-Privacidad'] " routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 footerSubTitulo">Politica de privacidad</a>
          </li>
        <!--  <li class="nav-item mb-2">
            <a href="#" [routerLink]="['/Politica-Cookies'] " routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 footerSubTitulo">Politica de cookies</a>
          </li>-->
          <li class="nav-item mb-2">
            <a href="#" [routerLink]="['/Terminos-Condiciones'] " routerLinkActive="active"  class="nav-link mr-lg-0 mr-sm-4 p-0 footerSubTitulo">Términos y condiciones de uso</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
        <h3 class="mb-2 pb-1 footerTitulo">Contáctanos</h3>
        <ul class="nav nav-dark flex-column pb-3">
          <li class="nav-item text-nowrap mb-2">
            <span class="footerSubTitulo mr-1">Escribenos a nuestra casilla de correo</span>
            <br>
            <a href="mailto:support@example.coms" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal" style="color: #007FA4;">Contacto@injoyplan.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-top border-light bg-black" style="background-color: #303033;">
    <div class="container py-4">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-lg-8 mb-4">
          <div class="Copyright">
            <span class="font-size-sm">&copy; </span>
            Copyright  2021 Injoyplan
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-4 mb-4">
          <div class="font-size-xs text-light">
            <a href="https://www.facebook.com/Injoyplan/" class="social-btn sb-solid sb-light mr-2">
              <i class="cxi-facebook"></i>
            </a>
            <a href="https://instagram.com/injoyplan?utm_medium=copy_link" class="social-btn sb-solid sb-light mr-2">
              <i class="cxi-instagram"></i>
            </a>

            <a href="https://youtube.com/channel/UCos6dE593u_Yr1EgHsM-QkQ" class="social-btn sb-solid sb-light mr-2">
              <i class="cxi-youtube"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>

