<ng-container *ngIf="pantalla==1">
  <ng-container *ngIf="!favoritos.incluye" >
    <div class="card__img-actions" (click)="guardarFavoritos(id_evento,id_fecha)">
      <div class="hi-icon" >
        <i class="cxi-heart"></i>
      </div>
    </div>
  </ng-container>

 <ng-container *ngIf="favoritos.incluye"> 
    <div class="card__img-actions" (click)="EliminarFavoritos(id_evento,id_fecha)">
      <div class="hi-icon" >
        <i class="cxi-heart-filled"></i>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="pantalla==2">
  <ng-container *ngIf="!favoritos.incluye">
    <button type="reset" class="card-evento-heart ISDesktop"
                  (click)="guardarFavoritos(id_evento,id_fecha)"
                  style=" background-color: transparent;   border: none;margin-left: 78%;">
                  <i class="cxi-heart" style="cursor: pointer;"></i>
                </button>
    <div class="card__img-actions ISMobil" (click)="guardarFavoritos(id_evento,id_fecha)">
      <div class="hi-icon" >
        <i class="cxi-heart"></i>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="favoritos.incluye">
    <button type="reset" class="card-evento-heart ISDesktop"
      (click)="EliminarFavoritos(id_evento,id_fecha)"
      style=" background-color: transparent;   border: none;margin-left: 78%;">
      <i class="cxi-heart-filled" style="cursor: pointer;"></i>
    </button>
    <div class="card__img-actions ISMobil" (click)="EliminarFavoritos(id_evento,id_fecha)">
      <div class="hi-icon" >
        <i class="cxi-heart-filled"></i>
      </div>
    </div>
  </ng-container>

</ng-container>


