<app-header></app-header>
<section class="section section--about">
  <div class="container">
    <div class="">
      <h1>Acerca de nosotros</h1>
      <p>
        <strong>Injoyplan</strong> es una plataforma web que nace con el propósito de agrupar e informar sobre eventos y actividades organizados por otras personas que se realicen de manera presencial y/o virtual, buscando promoverlos a la vez que fomentamos los intereses y pasatiempos de las personas al participar en ellos.
      </p>
      <p>
        De esta manera, buscamos que más personas disfruten de buenos momentos, de poder conocer más personas con los mismos intereses y hacer nuevas cosas que les pueda llegar a gusta y alegrar
      </p>
    </div>
    <div class="section--about__img">
      <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1663350217/InjoyPlan/acerca_nosotros.png" alt="Logo">
    </div>
  </div>
</section>
<section class="section section--about-2 container t-center">
  <h2 style="align-items: center;text-align: center;">¿Cómo funciona?</h2>
  <p class="section--about__subtitle">
    <strong>Injoyplan</strong> cuenta con una plataforma amigable para su uso. Se mostrarán los diferentes tipos de eventos registrados, los cuales estarán ordenados por categorías para una rápida visualización.
Asimismo, brindará la opción de búsqueda con los diferentes filtros disponibles para realizar una consulta especifica.
  </p>
  <div class="section--about__cards">
    <div class="card">
      <div class="card__body">
        <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1663350217/InjoyPlan/buscamos_diferentes.png" alt="Ilustración">
        <p class="card__text">Buscamos en diferentes medios de información las actividades que se llevan a cabo.</p>
      </div>
    </div>
    <div class="card">
      <div class="card__body">
        <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1663350217/InjoyPlan/enlazamosDirectamente.png" alt="Ilustración">
        <p class="card__text">Te enlazamos directamente con los organizadores o personas para que pueedas adquirir tus entradas o invitaciones.</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

