<app-header></app-header>
<div>
  <div class="banner-icon">
    <div class="banner-icon__content">
      <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1663350217/InjoyPlan/politica-privacidad.png" alt="Ilustración" style="position: relative; top: 50px;">
      <h2>Políticas de privacidad</h2>
    </div>
  </div>

  <main class="container">
    <section class="section section--terms" style="margin-top: 65px;">

      <h2>1. Legislación aplicable</h2>
      <p>
        La presente política de privacidad se encuentra sujeta a la legislación peruana y en particular a la Ley N°
        29733, Ley de Protección de Datos Personales y el Decreto Supremo N° 003-2013-JUS, Reglamento de la Ley N°
        29733.
      </p>
      <h2>2. Información que tú proporcionas</h2>

      <p>
        La información que recibimos cuando te registras en nuestra Web y/o la Aplicación es la siguiente:
        Proporcionas tu correo electrónico, número de teléfono móvil, nombres completos, número del documento nacional
        de identidad o pasaporte según sea el caso, año de nacimiento y género.
      </p>
      <p>
        También puedes agregar otra información a tu cuenta, como un nombre de perfil, foto de perfil y mensaje de
        estado, de ser el caso.
      </p>

      <h2>3. Tus mensajes</h2>

      <p>
        Sobre el contenido de los mensajes durante la prestación normal de nuestros Servicios, se conservará toda
        información que INJOYPLAN S.A.C., considere.
      </p>
      <h2>4. El resguardo de la información que proporciona</h2>

      <p>
        INJOYPLAN S.A.C. adopta las medidas técnicas y organizativas necesarias para garantizar la protección de la
        Información del Usuario y evitar su alteración, pérdida, tratamiento y/o acceso no autorizado, habida cuenta
        del estado de la técnica, la naturaleza de los datos almacenados y los riesgos a que están expuestos, todo
        ello, conforme a lo establecido por la Ley de Protección de Datos Personales, su Reglamento.
      </p>
      <p>
        En este sentido, INJOYPLAN S.A.C. usará los estándares de la industria en materia de protección de la
        confidencialidad de la Información del Usuario.
        INJOYPLAN S.A.C. emplea diversas técnicas de seguridad para proteger tales datos de accesos no autorizados.
        Sin perjuicio de ello, INJOYPLAN S.A.C. no se hace responsable por interceptaciones ilegales o violación de
        sus sistemas o bases de datos por parte de personas no autorizadas, así como la indebida utilización de la
        información obtenida por esos medios, o de cualquier intromisión ilegítima que escape al control del INJOYPLAN
        S.A.C. y que no le sea imputable.
      </p>
      <p>
        INJOYPLAN S.A.C. tampoco se hace responsable de posibles daños o perjuicios que se pudieran derivar de
        interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el
        funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas a INJOYPLAN S.A.C.; de
        retrasos o bloqueos en el uso de la plataforma informática causados por deficiencias o sobrecargas en el
        Centro de Procesos de Datos, en el sistema de Internet o en otros sistemas electrónicos.
      </p>
      <h2>5. Incorporación de la Información del Usuario en un Banco de Datos</h2>
      <p>
        De acuerdo a lo establecido en la Ley N° 29733, Ley de Protección de Datos Personales, y el Decreto Supremo N°
        003-2013-JUS, por el que se aprueba su Reglamento, INJOYPLAN S.A.C. informa a los Usuarios de los Sitios Web y
        las Aplicaciones que la Información del Usuario será incorporada a los bancos de datos de titularidad de
        INJOYPLAN S.A.C.
      </p>
      <p>
        A través de la presente Política de Privacidad el Usuario da su consentimiento expreso para la inclusión de su
        información en los mencionados bancos de datos.
      </p>
      <h2>6. Sobre la veracidad de los Datos Personales</h2>

      <p>
        El Usuario declara que toda información proporcionada es verdadera, completa y exacta. Cada Usuario es
        responsable por la veracidad, exactitud, vigencia y autenticidad de la información suministrada, y se
        compromete a mantenerla debidamente actualizada.
      </p>
      <p>
        Sin perjuicio de lo anterior, el Usuario autoriza a INJOYPLAN S.A.C. a verificar la veracidad de los Datos
        Personales facilitados a través de información obtenida de fuentes de acceso público o de entidades
        especializadas en la provisión de dicha información.
      </p>
      <p>
        INJOYPLAN S.A.C. no se hace responsable de la veracidad de la información que no sea de elaboración propia,
        por lo que tampoco asume responsabilidad alguna por posibles daños o perjuicios que pudieran originarse por el
        uso de dicha información.
      </p>
      <h2>7. Confidencialidad de los datos personales</h2>

      <p>
        Los datos personales que facilites serán tratados con total confidencialidad y sólo podrán ser conocidos y
        manejados por el personal de INJOYPLAN S.A.C. que necesiten conocer dicha información para realizar las
        labores comprendidas en las finalidades descritas anteriormente. INJOYPLAN S.A.C. se compromete a guardar
        secreto profesional permanente e indefinidamente respecto de los mismos y garantiza el deber de guardarlos
        adoptando todas las medidas de seguridad necesarias.
      </p>
    </section>
  </main>

</div>
<app-footer></app-footer>
