
<app-header></app-header>
<app-nav-bar [isActivePerfil]="false" [isActive]="true" [isActiveEventos]="false"></app-nav-bar>
<div class="container ">
  <div class="row align-items-left mb-4">
    <ng-container *ngIf="eventos.length<=0">
      <div style="width: 100%;    padding-bottom: 30px;">
        <div class="contentFavorito">
          <img src="https://res.cloudinary.com/do4rokki9/image/upload/v1644672060/InjoyPlan/event.png"
            alt="blog" />
        </div>

        <p class="tituloNofavorito">Aún no tienes eventos favoritos</p>

        <p style="
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #212121;
            justify-content: center;
          ">
          Favor de Seleccionar algunos para verlos aca
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf="eventos.length>0" >



    <div class="card card_normal" *ngFor="let evento of eventos; let indice = index">
      <div class="card__img-actions"  (click)="EliminarFavoritos(evento.id_evento,evento.fecha_id)">
        <div class="hi-icon" >
          <i class="cxi-cross"></i>
        </div>
      </div>
      <a [routerLink]="['/show/'+evento.evento+'/'+evento.idfecha ]" style="text-decoration: none" >
        <div class="card-header">
          <img [src]="evento.url" class="img-fluid" width="4000"
          height="3000"   alt="rover">
        </div>

        <div class="card-body">
          <span class="tag-fecha-hora">
            {{ evento.FechaInicio | formatDateDia }} {{ evento.FechaInicio | date:'MMM':'+0200' :'es'}}



          </span>
          <h4 class="tag-titulo">
            {{evento.titulo}}
          </h4>
          <p class="tag-lugar">
            {{evento.NombreLocal}}
          </p>
        </div>
        <div class="card-footer" style="background-color: white;border-top: 0px solid #e5e8ed !important;">
          <div class="user">
            <div class="user-info" >
              <small>Desde </small>
              <h5 class="tag-monto">{{evento.Monto | formatMoney}}</h5>
            </div>
          </div>
        </div>
      </a>

    </div>
 <!--<span class="verFuentes">
      <a
      target = "_blank"
      [href]="'https://' + evento.urlFuente"
      style="text-decoration: none;color: #A3ABCC;"
    >Ver fuente</a>


      </span>-->



    </ng-container>
  </div>
</div>


<app-footer></app-footer>
