<div class="card card_normal">
  <ng-container *ngIf="pantalla==1">

    <app-heart [id_fecha]="evento.idfecha" [id_evento]="evento.evento" [user_data]="user_data" [pantalla]="1"  [favoritos]="evento.favorito"  ></app-heart>
    <ng-container *ngIf="compararEntreFechas( evento.FechaInicio,evento.HoraInicio,evento.HoraFinal)">
      <div class="card__img-vivo-actions parpadea" >
        <div class="hi-icon-state">
          <img src="../../../assets/img//ongoin.png">
          <h1>EN CURSO</h1>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <a [routerLink]="['/show/'+evento.evento+'/'+evento.idfecha ]" style="text-decoration: none" >
    <div class="card-header">

      <app-lazy-image [url]="evento.url"></app-lazy-image>


    </div>
    <div class="card-body">
      <span class="tag-fecha-hora">
        {{ evento.FechaInicio | formatDateDia }} {{ evento.FechaInicio | date:'MMM':'+0200' :'es'}}
        {{evento.HoraInicio}} - {{evento.HoraFinal}}


      </span>
      <h4 class="tag-titulo">
        {{evento.titulo}}
      </h4>
      <p class="tag-lugar">
        {{evento.NombreLocal}}
      </p>
    </div>

    <div class="card-footer" style="background-color: white;border-top: 0px solid #e5e8ed !important;">
      <div class="user">
        <div class="user-info" >
          <small>Desde </small>
          <h5 class="tag-monto">{{evento.Monto | formatMoney}}</h5>
        </div>
      </div>
    </div>
  </a>

</div>
<span class="verFuentes">
  <a
  target = "_blank"
  [href]="'https://' + evento.urlFuente"
  style="text-decoration: none;color: #A3ABCC;"
>Ver fuente</a>


  </span>
