<div class="card card_normal">
  <ng-container *ngIf="pantalla==1">
    <app-heart [id_fecha]="evento._id" [id_evento]="evento.evento[0]._id" [user_data]="user_data" [pantalla]="1"  [favoritos]="evento.activado"  ></app-heart>
    <ng-container *ngIf="compararEntreFechas( evento.FechaInicio,evento.HoraInicio,evento.HoraFin)">
      <div class="card__img-vivo-actions parpadea" >
        <div class="hi-icon-state">
          <img src="../../../assets/img//ongoin.png">
          <h1>EN CURSO</h1>
        </div>
      </div>
    </ng-container>
  </ng-container>
  
  
 
  <a [routerLink]="['/show/'+evento._id +'/'+evento.evento[0]._id]" style="text-decoration: none" >
    <div class="card-header">
      <img [ngSrc]="imagenS" class="img-fluid" width="4000"
      height="3000"   alt="rover">

    </div>
    <div class="card-body">
      <span class="tag-fecha-hora">
        {{ evento.FechaInicio | formatDateDia }} {{ evento.FechaInicio | date:'MMM':'+0200' :'es'}}
        {{evento.HoraInicio}} - {{evento.HoraFin}}


      </span>
      <h4 class="tag-titulo">
        {{evento.evento[0].titulo}}
      </h4>
      <p class="tag-lugar">
        {{evento.evento[0].NombreLocal}}
      </p>
    </div>

    <div class="card-footer" style="background-color: white;border-top: 0px solid #e5e8ed !important;">
      <div class="user">
        <div class="user-info" *ngIf="evento.precioxfechas[0].Precio!= 0 ; else templateName">
          <small>Desde</small>
          <h5 class="tag-monto">{{evento.precioxfechas[0].Precio | formatMoney}}</h5>
        </div>
        <ng-template #templateName>
          <div class="user-info" if>

            <h5 class="tag-monto" style="margin-top: 15px;">¡Gratis!</h5>
          </div>
        </ng-template>

      </div>
    </div>
  </a>

</div>
<span class="verFuentes">
  <a
  target = "_blank"
  [href]="'https://' + evento.evento[0].urlFuente"
  style="text-decoration: none;color: #A3ABCC;"
>Ver fuente</a>


  </span>
