<app-header></app-header>
<div class="container ISDesktop" >
  <header class="header-blog">
    <div class="header-blog__s" style="width: 83%;">
      <h1 class="header-blog__title color-secondary">
       {{evento.titulo}}
      </h1>
      <p class="header-blog__desc">
        <span>
          <span class="fwb">   {{evento.FechaInicio | FormatDateTime}} </span>
          <span >({{evento.FechaInicio | formatdaterestadiapipe}})</span>

        </span>
      <!-- <span>
          <i class="fa fa-user"></i>
          Visto 0 <span class="fwb">veces</span> las
          últimas 24 horas
        </span>-->
      </p>
    </div>
    <div class="header-blog__e">
      <span>
        <button type="reset"  class="buttonCopiarFavoritos"
          (click)="copiarAlPortapapeles(evento.fecha_id,evento.evento_id)"
          style=" background-color: transparent;   border: none;">
          <i class="fa fa-share-alt"></i>
          Copiar enlace
        </button>
      </span>

      <span  class="buttonCopiarFavoritos" >
        <button type="reset"  class="buttonCopiarFavoritos" *ngIf="!esFavorito"
          (click)="guardarFavoritos(evento.fecha_id,evento.evento_id)"
          style=" background-color: transparent;   border: none;">
          <i class="cxi-heart" style="cursor: pointer;"></i>
          Favorito
        </button>

        <button type="reset" class="buttonCopiarFavoritos"
          (click)="EliminarFavoritos(evento.evento_id,evento.fecha_id)"  *ngIf="esFavorito"
          style=" background-color: transparent;   border: none;    margin-left: 78%;">
          <i class="cxi-heart-filled" style="cursor: pointer;"></i>
          Favorito
        </button>
      </span>
    </div>
  </header>
  <section class="blog">
    <div class="blog__s">
      <!-- Thumbnail -->
      <div>

        <div class="thumbnail">
          <img  width="4000" height="3000" style="width: 100%;"  alt="Título de la imagen" [src]="evento.url" sizes="100vw"  />
          <!--<div class="thumbnail-badge-online t-uppercase">
          Online
        </div>-->
        </div>

        <a
          [href]="'https://' +evento.urlFuente"
          style="
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #a3abcc;
          "
          target="_blank"
          class="t-uppercase color-gray"
        >
          Ver fuente
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
      <!-- End Thumbnail -->

      <!--<div class="info-bar clear-container">
      <i class="fa fa-user"></i>
      Visto <strong>10 veces</strong> las últimas 24 horas
    </div>-->

      <!-- Blog content
      <article class="blog__content blog__content--bb">
        <h2>Lo que se sabe del evento</h2>
        <p v-html="eventos.descripcionEvento"></p>
        <h2 v-if="eventos.hayInformacionAdic == 1">
          Información adicional
        </h2>
        <h3 v-if="eventos.hayInformacionAdic == 1" class="t-uppercase">
          Importante:
        </h3>
        <p v-if="eventos.hayInformacionAdic == 1">
          {{ eventos.informacionAdicional }}
        </p>
      </article>-->
      <article

        class="blog__content blog__content--bb"
      >
        <h2>Lugar del evento</h2>
        <h3>{{evento.NombreLocal}}</h3>
        <div [innerHTML]="evento.descripcionEvento"></div>


      </article>

    </div>
    <aside class="blog__e">
      <div class="card-event">
        <div>
          <h3 class="subTitulosShowEventos">Fecha y hora</h3>
          <p>
            {{ (evento.FechaInicio ) | FormatDateTime}}  · {{evento.HoraInicio}} - {{evento.HoraFinal}}
          </p>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex-wrap: wrap;">
          <h3 class="subTitulosShowEventos">Otras fechas disponibles</h3>

          <div style="display: flex;         flex-direction: row;          align-items: center;          justify-content: flex-start;          align-content: flex-start;          flex-wrap: wrap;">
            <div class="date-square" style="margin-right: 10px;" *ngFor="let eventoFecha of fecha  let indice = index"  >

              <ng-container *ngIf="indice<=4" >
                <div (click)="buscarfecha(eventoFecha)" class="date-square__item t-uppercase"  style="cursor: pointer;">
                {{ (eventoFecha.FechaInicio ) | FormatDateTimeShor}}<br />
                </div>
              </ng-container>


            </div>
            <ng-container *ngIf="fecha.length==0" >
              <h1 style="font-size: 1rem;font-family: 'Open Sans', sans-serif;     color: #bc0000;font-weight: 600; letter-spacing: 0.6px;">No hay más eventos disponibles</h1>
             </ng-container>
          </div>
          <br>

          <div *ngIf="fecha.length>=5"
            data-bs-toggle="modal" data-bs-target="#listaPrecios"
            style="
              color: #bc0000;
              font-weight: 600;
              letter-spacing: 0.6px;
              text-transform: uppercase;    cursor: pointer;
            "
            class="t-uppercase card-event__more" >

            Ver Todas
          </div>
        </div>


        <div>
          <h3 class="subTitulosShowEventos">Lugar del evento</h3>
          <p> {{LugarEvento}} </p>
          <div
            style="
              color: #bc0000;
              font-weight: 600;
              letter-spacing: 0.6px;
              text-transform: uppercase;    cursor: pointer;
            "
            class="t-uppercase card-event__more"
            data-target="cart" data-bs-toggle="modal" data-bs-target="#mapaDeUbicacion"
          >
            Ver en el Mapa
          </div>

        </div>
        <ng-container *ngIf="evento.tipoEntrada==1">
          <div>

            <h3 style="    font-family: 'Quicksand';"> Entradas desde</h3>

            <p  class="t-big" *ngIf="evento.Monto==0">¡Gratis!</p>
            <p  class="t-big" *ngIf="evento.Monto!=0">{{evento.Monto | formatMoney}}</p>
          </div>
          <div>
            <h3>Consigue tus entradas aquí</h3>

            <div  *ngFor="let entradas of lista_plataformas; let indice = index"  >
              <div *ngIf="(entradas.nombreEntrada=='En Boletería' || entradas.nombreEntrada=='En Puerta') else other_content" >
                <a
                class="btn btn--primary btn--block"
                >
                  <span style="display: inline-flex;display: inline-flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: space-evenly;
                  align-content: stretch;" >

                    <img [src]="entradas.iconos" width="20"  style="margin-right: 7px; margin-top: 2px;"/>
                    <h3 style="color: white; width: 134%">
                      {{entradas.nombreEntrada}}
                    </h3>
                  </span>
                </a>

              </div>

              <ng-template #other_content>
                <a
                target = "_blank"
                [href]="'https://' + entradas.urlWebLugar"
                class="btn btn--primary btn--block"
                >
                  <span style="display: inline-flex;display: inline-flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: space-evenly;
                  align-content: stretch;" >
                    <img [src]="entradas.iconos" width="20"  style="margin-right: 7px; margin-top: 2px;"/>

                    <h3 style="color: white; width: 134%">
                     {{entradas.nombreEntrada}}
                    </h3>
                  </span>
                </a>
              </ng-template>

            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="evento.tipoEntrada==2">

        </ng-container>
      </div>
    </aside>
  </section>
</div>
<div class="container ISMobil" >
  <header class="header-blog">
    <div class="header-blog__s" style="width: 80%;">
      <h1 class="header-blog__title color-secondary">
        {{evento.titulo}}
      </h1>
      <span class="TiempoEspera">   {{evento.FechaInicio | FormatDateTime}}</span>   <span class="TiempoEspera"> ({{evento.FechaInicio | formatdaterestadiapipe}})</span>

    </div>
  </header>
 <section style="margin: 0px 0px 10px; text-align: center;">
  <span>
    <button type="reset"  class="buttonCopiarFavoritos"
      (click)="copiarAlPortapapeles(evento.fecha_id,evento.evento_id)"
      style=" background-color: transparent;   border: none;">
      <i class="fa fa-share-alt"></i>
      Copiar enlace
    </button>
  </span>

  <span  class="buttonCopiarFavoritos" >
    <button type="reset"  class="buttonCopiarFavoritos" *ngIf="!esFavorito"
      (click)="guardarFavoritos(evento.fecha_id,evento.evento_id)"
      style=" background-color: transparent;   border: none;">
      <i class="cxi-heart" style="cursor: pointer;"></i>
      Favorito
    </button>

    <button type="reset" class="buttonCopiarFavoritos"
      (click)="EliminarFavoritos(evento.evento_id,evento.fecha_id)"  *ngIf="esFavorito"
      style=" background-color: transparent;   border: none;">
      <i class="cxi-heart-filled" style="cursor: pointer;"></i>
      Favorito
    </button>
  </span>
 </section>
  <section class="blog">
    <div class="blog__s">
      <!-- Thumbnail -->
      <div>
        <div class="thumbnail">
          <img [src]="evento.url" alt="Título de la imagen" />
          <!--<div class="thumbnail-badge-online t-uppercase">
          Online
        </div>-->
        </div>
        <a   [href]="'https://' + evento.urlFuente"

          style="
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-transform: uppercase;

            color: #a3abcc;
          "
          target="_blank"
          class="t-uppercase color-gray"
        >
          Ver fuente
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
      <!-- End Thumbnail -->
      <div class="clear-container card-event">
        <div>
          <h3 class="subTitulosShowEventos">Fecha y hora</h3>
          <p>
           {{ (evento.FechaInicio ) | FormatDateTime}}  · {{evento.HoraInicio}} - {{evento.HoraFinal}}
          </p>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex-wrap: wrap;">

          <h3 class="subTitulosShowEventos">Otras fechas disponibles  </h3>

          <div style="display: flex;         flex-direction: row;          align-items: center;          justify-content: flex-start;          align-content: flex-start;          flex-wrap: wrap;">

            <div class="date-square" style="margin-right: 10px;" *ngFor="let EventoFecha of fecha let indice = index"  >
              <ng-container *ngIf="indice<=4" >
                <div (click)="buscarfecha(EventoFecha)" class="date-square__item t-uppercase"  style="cursor: pointer;">
                  {{ (EventoFecha.FechaInicio ) | FormatDateTimeShor}}<br />
                </div>
              </ng-container>

            </div>
            <ng-container *ngIf="fecha.length==0" >
              <h1>NO hay más eventos disponibles</h1>
             </ng-container>

          </div>
          <br>

          <div *ngIf="fecha.length>=5"
            data-bs-toggle="modal" data-bs-target="#listaPrecios"
            style="
              color: #bc0000;
              font-weight: 600;
              letter-spacing: 0.6px;
              text-transform: uppercase;    cursor: pointer;
            "
            class="t-uppercase card-event__more" >

            Ver Todas
          </div>
        </div>

        <div>
          <h3 class="subTitulosShowEventos">Lugar del evento</h3>
          <p> {{LugarEvento}} </p>
          <div
            style="
              color: #bc0000;
              font-weight: 600;
              letter-spacing: 0.6px;
              text-transform: uppercase;    cursor: pointer;
            "
            class="t-uppercase card-event__more"
            data-bs-toggle="modal" data-bs-target="#mapaDeUbicacion"
          >
            Ver en el Mapa
          </div>

        </div>
        <div>

          <h3 class="subTitulosShowEventos"> Entradas desde</h3>
          <p  class="t-big" *ngIf="evento.Monto==0">¡Gratis!</p>
          <p  class="t-big" *ngIf="evento.Monto!=0">{{evento.Monto | formatMoney}}</p>
        </div>
        <div>
          <h3 class="subTitulosShowEventos">Consigue tus entradas aquí</h3>
          <div  *ngFor="let entradas of lista_plataformas; let indice = index"  >
            <ng-container *ngIf="entradas.nombreEntrada=='En Boletería' || entradas.nombreEntrada=='En Puerta'">
                  <span


                  class="btn btn--primary btn--block"
                  >
                  <span style="display: inline-flex;display: inline-flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: space-evenly;
                  align-content: stretch;" >
                    <img [src]="entradas.iconos" width="20"  style="margin-right: 7px; margin-top: 2px;"/>

                    <h3 style="color: white; width: 134%">
                      {{entradas.nombreEntrada}}
                    </h3>
                  </span>
                </span>
            </ng-container>
            <ng-container *ngIf="entradas.nombreEntrada!='En Boletería' || entradas.nombreEntrada!='En Puerta'">
              <a
              target = "_blank"
              [href]="'https://' + entradas.urlWebLugar"
              class="btn btn--primary btn--block"
              >
                <span style="display: inline-flex;display: inline-flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-evenly;
                align-content: stretch;" >
                  <img [src]="entradas.iconos" width="20"  style="margin-right: 7px; margin-top: 2px;"/>

                  <h3 style="color: white; width: 134%">
                   {{entradas.nombreEntrada}}
                  </h3>
                </span>
              </a>
            </ng-container>


          </div>
        </div>
      </div>
      <!-- Blog content
      <article class="blog__content blog__content--bb">
        <h2>Lo que se sabe del evento</h2>
        <p v-html="eventos.descripcionEvento"></p>
        <h2 v-if="eventos.hayInformacionAdic == 1">
          Información adicional
        </h2>
        <h3 v-if="eventos.hayInformacionAdic == 1" class="t-uppercase">
          Importante:
        </h3>
        <p v-if="eventos.hayInformacionAdic == 1">
          {{ eventos.informacionAdicional }}
        </p>
      </article> -->
      <article

        class="blog__content blog__content--bb"
      >
        <h2>Lugar del evento</h2>
        <h3>{{evento.NombreLocal}}</h3>
        <div [innerHTML]="evento.descripcionEvento"></div>


      </article>
    </div>
  </section>

</div>

<div class="modal fade" id="mapaDeUbicacion" tabindex="-1" role="dialog" aria-labelledby="mapaDeUbicacion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="height:auto;border-radius: 4px;">
      <div class="modal-header">
        <h5 class="modal-title" id="mapaDeUbicacion">Mapa de Ubicacion</h5>

        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <google-map height="500px"    [center]="center"       width="auto"  >
            <map-marker *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition"
            ></map-marker>
          </google-map>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="listaPrecios" tabindex="-1" role="dialog" aria-labelledby="listaPrecios" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ISDesktopModal"  >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calendario del evento</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Fecha y hora</th>
                <th>Precio desde</th>
                <th style="text-align: center; vertical-align: middle;">Modo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Fecha of fecha let indice = index">
                <td style="padding-bottom: 1.9rem;">
                  <span style="font-family: 'Open Sans'; font-style: normal; font-weight: 700;font-size: 12px;line-height: 20px;display: flex; align-items: center; color: #212121;"> {{Fecha.FechaInicio | FormatDateTime }}</span>

                  <span style="position: absolute;font-family: 'Open Sans'; font-style: normal; font-weight: 400;font-size: 12px;line-height: 20px;display: flex; align-items: center; color: #4A4A4A;"> {{Fecha.HoraInicio}} - {{Fecha.HoraFinal}}</span>

                </td>

                <td *ngIf="Fecha.monto==0">¡Gratis!</td>
                <td *ngIf="Fecha.monto!=0">{{Fecha.monto | formatMoney}}</td>
                <td style="text-align: center; vertical-align: middle;">Presencial</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
