.course {
  font-family: 'Quicksand', sans-serif;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
  display: inline-block;
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  margin-top: 30px;margin-bottom: 10px;
}

#evento img {
  border-radius: 0px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.course:first-child {
  margin-top:0px;margin-bottom: 0px;
}
.evento_FechaHora {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
}

.evento_TituloEvento {

  font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size:  20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #212121;
    width: 444px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100%;

}

.course-date {
  text-align: center;
  text-align: -webkit-center;
  background: #FFF;
  color: #FFF;
  float: left;
  /* padding-left: 24px; */
  padding-top: 40px;
  width: 12%;
  /* top: 70px;*/
}

.course-date h2 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #212121;
  align-content: space-around;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column-reverse;

}
.course-date h4 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #212121;
  align-content: space-around;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column-reverse;

}

.course-info {
  background: #ED474A;
  color: #FFF;
  float: left;
  width: 35%;
}

.course-progress {
  float: left;
  padding: 30px 30px 0px 30px;
  position: relative;
  width: 53%;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0px;
}

.course h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
}

.course-info a {
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 30px;
  text-decoration: none;
}

.card-price-event {
 /* position: absolute;
  top: 80%;
  left: 72%;
  width: 150px;*/
      /* position: unset; */
    /* top: 80%; */
    left: auto;
    /* max-width: 150px; */
    display: flex;
    text-align: right;
    align-items: baseline;
    justify-content: flex-end;
}

.card-price {
  /*font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #212121;
  display: flex;
  align-items: center;
  text-align: right;*/

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    /*display: flex;*/
    align-items: center;
    text-align: right;
    color: #212121;
}

.card-evento {
  color: #007FA4;
  font-size: 1.3em;
  text-align: right;
}

.card__price_filtro {
 /* width: 80%;*/
  text-align: right;
  /* top: 38%; */
  margin-top: -20px;
  /* text-align: right; */
  float: right;
}

.progress {
  background: #DDD;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.fwb {
  font-weight: bold;
}

.card-container {
  display: block;
  color: #007FA4;
  font-size: 1.3em;
  text-align: right;
  margin-top: 0.5rem;
}

.card-text {
  font-size: 10px;
  opacity: 0.8;
  letter-spacing: 1px;
  color: #BC0000;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.evento-no-result-title{
  display: flow-root;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  align-items: center;
  text-align: center;

  /* Text/Secondary */

  color: #4A4A4A;

}


@media screen and (max-width: 740px) {

  .course {
    height: 26rem;
    width: 100%;
    border-radius: 16px;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .course:first-child {
    margin-top: -20px;margin-bottom: 10px;
  }

  .course-date {
    display: none !important;
  }

  .course-progress,
  .course-info {
    width: 100%;
    height: 200px;
    float: none;
  }
  .course-progress{
    padding: 15px;
  }
  .course-info {
    height: 200px;
  }

  .course-info h2 {
    margin: 8px 0px;
  }

  .course-info a {
    margin-top: 10px;
  }

  .course-progress h2 {
    margin: 16px 0px;
  }

  .btn {
    bottom: 30px;
    left: 30px;
  }
  .evento_TituloEvento{
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100%;
  }
  .card-price-event{
        /* left: 4%; */
        position: absolute;
        /* position: absolute; */
        top: 75%;
        /* left: 72%; */
        width: 100%;
        justify-content: flex-start;
  }
  .card__price_filtro_desde{
    font-size: 10px;
  }
  .card__price_filtro{
   /* width: 80%;
    text-align: left;
    margin-top: 0px;
    float: left;*/
    /* float: right;*/


    text-align: left;
    margin-top: 0px;
    margin-right:38px ;
    float: right;

  }
  .progress-container {
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: right;
    width: 150px;
  }
  .evento_SubTituloEvento{
    left: 15px;
    top: 72px;
  }
}
.page-link{
  text-decoration: none!important;
}
.page-link{
  text-decoration: none!important;
}


.evento_SubTituloEvento{
   /*position: absolute;*/
  width: 455px;
  height: 24px;
  max-width: 455px;
  left: 29px;
  top: 88px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /*display: flex;*/
  align-items: center;
  color: #212121;
}


.card__price_filtro_desde{
  /*  width: 68px; */
 /*  height: 16px; */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  /* align-items: center; */
  /* text-align: right; */
  /* text-transform: uppercase; */
  color: #212121;
  flex-direction: column;
}



/**/
.buscarEvento::placeholder{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.64);
}
.buscarEvento {
  outline: 0;
  /* border-width: 0 0 2px; */
  /* border-color: blue; */
  background-color: #007FA4;
  border-top: 1px solid #007FA4;
  border-left: 1px solid #007FA4;
  border-bottom: 1px solid white;
  /* height: 0px; */
  left: 154px;
  top: 84px;
  border-right: 1px solid #007FA4;
  margin-top: 40px;
    margin-left: 16%;
    color: white;
}


.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #FA9595;
  z-index: 1;
  bottom: 0;
  margin: 6%;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}
.buscarEvento:not(:valid) ~ .close-icon {
  display: none;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 63%;
  }
  .buscarEvento:focus {
    width: 70%;
  }
  .close-icon:after{
    right: 162px;
    top: 12%;
  }
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1280px) {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 63%;
  }
  .buscarEvento:focus {
    width: 63%;
  }
  .close-icon:after{
    right: 189px;
    top: 8%;
  }
}

@media only screen and (min-device-width : 1281px) and (max-device-width : 1920px) {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 63%;
  }
  .buscarEvento:focus {
    width: 63%;
  }
  .close-icon:after{
    right: 290px;
    top: 1%;
  }
}

@media only screen and (min-device-width : 1921px) and (max-device-width : 2400px) {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 63%;
  }
  .buscarEvento:focus {
    width: 63%;
  }
  .close-icon:after{
    right: 199px;
    top: 12%;
  }
}

@media only screen and (min-device-width : 2401px) and (max-device-width : 3440px) {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 63%;
  }
  .buscarEvento:focus {
    width: 63%;
  }
  .close-icon:after{
    right: 288px;
    top: 12%;
  }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1200px) {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 63%;
  }
  .buscarEvento:focus {
    width: 63%;
  }
  .close-icon:after{
    right: 288px;
    top: 12%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  #btnBuscarDesktop{
    display: inline-block;
  }
  #btnBuscarMobil{
    display: none;
  }
  .buscarEvento {
    width: 63%;
  }
  .buscarEvento:focus {
    width: 70%;
  }
  .close-icon:after{
    right: 162px;
    top: 11px;
  }
}

/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
  #btnBuscarDesktop{
    display: inline-block; ;
  }
  #btnBuscarMobil{
    display: none;
  }
  .buscarEvento {
    width: 56%;
  }
  .buscarEvento:focus {
    width: 56%;
  }
  .close-icon:after{
    right: 162px;
    top: 11px;
  }
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
  #btnBuscarDesktop{
    display: inline-block; ;
  }
  #btnBuscarMobil{
    display: none;
  }
  .buscarEvento {
    width: 56%;
  }
  .buscarEvento:focus {
    width: 56%;
  }
  .close-icon:after{
    right: 169px;
    top: 13%;
  }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 59%;
  }
  .buscarEvento:focus {
    width: 59%;
  }

  .close-icon:after{
    right: 73px;
    top: 95px;
  }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 59%;
  }
  .buscarEvento:focus {
    width: 59%;
  }

  .close-icon:after{
    right: 73px;
    top: 95px;
  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px)  {
  #btnBuscarDesktop{
    display: none ;
  }
  #btnBuscarMobil{
    display: inline-block;
  }
  .buscarEvento {
    width: 59%;
  }
  .buscarEvento:focus {
    width: 59%;
  }
  .close-icon:after{
    right: 73px;
    top: 95px;
  }
}
