<nav id="injoyplan-new-nav" class="pd-top-lv2">
    <ul class="nav border border-light">
        <li>
            <a class="link--text" [ngClass]="{'active': isActivePerfil}"  [routerLink]="['/cuenta/perfil/'+usuario]" routerLinkActive="active" [attr.routerLinkActiveOptions]="{exact: true}"  style="cursor: pointer;" >
                <i class="cxi-search icon--sm"></i>
                <span class="hide-tablet">Perfil</span>
            </a>
        </li>
       
        <li>
            <a class="link--text"  [ngClass]="{'active': isActive}"  [routerLink]="['/cuenta/favoritos/'+usuario]" routerLinkActive="active" [attr.routerLinkActiveOptions]="{exact: true}"  style="cursor: pointer;" >
                                                 

                <i class="fa fa-heart icon--sm"></i>
                <span class="hide-tablet">Favoritos</span>
                <span class="hide-tablet"></span>
            </a>
        </li>
        <!--<li>
            <a class="link--text " href="/user/following">
                <i class="fas fa-close"></i>
                <span class="hide-tablet">Siguiendo</span>
                <span class="hide-tablet"></span>
            </a>
        </li>-->|
    </ul>
</nav>